
theGame/bin/classes/com/supercoolnamespace/hackgame/R$string.class

theGame/bin/classes/com/supercoolnamespace/hackgame/R$string.class

theGame/bin/classes/com/supercoolnamespace/hackgame/R$string.class

theGame/bin/classes/com/supercoolnamespace/hackgame/R$style.class

*.class
